{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
    <title> سوق الكمبيوتر - Computer Souq </title>
    <link rel="stylesheet" href="{% static 'css/sheets.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1> شيت اسعار اللاب توب الاستعمال</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Model</th>
          <th>Processor</th>
          <th>RAM</th>
          <th>H.D</th>
          <th>H.D 2</th>
          <th>Graphic Card</th>
          <th>Monitor</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead> {% for usedlaptop in usedlaptops %} <tbody>
        <tr>
          <td>{{usedlaptop.id}}</td>
          <td>{{usedlaptop.Brand}} {{usedlaptop.Model}}</td>
          <td>{{usedlaptop.CPU}}</td>
          <td>{{usedlaptop.Ram_Memory_Size}} GB {{usedlaptop.Ram_Memory_Type}}</td>
          <td>{{usedlaptop.HD_Storage}} GB {{usedlaptop.HD_Type}}</td>
          <td>{{usedlaptop.HD_Storage_Other}} GB {{usedlaptop.HD_Type_Other}}</td>
          <td>{{usedlaptop.GPU}}</td>
          <td>{{usedlaptop.Screen_Size}} {{usedlaptop.Screen_Resulation}}</td>
          <td>{{usedlaptop.Quantity}}</td>
          <td>{{usedlaptop.Price}}</td>
        </tr>
      </tbody> {% endfor %}
    </table>
    <div class="sidebar close">
      <div class="logo-details">
        <i class='bx bxs-dashboard'></i>
        <span class="logo_name">Dashboard</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{% url 'management' %}">
            <i class='bx bx-home'></i>
            <span class="link_name">المخزن</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" href="{% url 'management' %}">المخزن</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="{% url 'invoicesfromstock' %}">
              <i class='bx bx-receipt'></i>
              <span class="link_name"> بيع من المخزن الرئيسي </span>
            </a>
          </div>
          <ul class="sub-menu">
            <li>
              <a class="link_name" href="{% url 'invoicesfromstock' %}"> بيع من المخزن الرئيسي </a>
            </li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-receipt'></i>
              <span class="link_name"> بيع من خارج المخزن </span>
            </a>
          </div>
          <ul class="sub-menu">
            <li>
              <a class="link_name" href="#"> بيع من خارج المخزن </a>
            </li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-package'></i>
              <span class="link_name"> إضافة منتاجات </span>
            </a>
          </div>
          <ul class="sub-menu">
            <li>
              <a class="link_name" href="#"> إضافة منتاجات </a>
            </li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bxs-calculator'></i>
              <span class="link_name"> حساب الارباح </span>
            </a>
          </div>
          <ul class="sub-menu">
            <li>
              <a class="link_name" href="#"> حساب الارباح </a>
            </li>
          </ul>
        </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <a class="logout" href="{% url 'account_logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav class="navbar">
        <i class='bx bx-menu'></i>
        <div class="navbar-brand"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'management' %}" class="nav-link">الصفحة الرئيسية- Home Page</a>
          </li>
        </ul>
      </nav>
    </section>
    <form id="logout-form" action="{% url 'account_logout' %}" method="POST" style="display: none;"> {% csrf_token %} <script src="{% static 'js/management.js' %}"></script>
  </body>
</html>